@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.FormBubble {
  display: flex;
  flex-wrap: wrap;
}
.FormBubble p {
  /* text-decoration: none; */
  border-radius: 318px;
  height: 318px;
  width: 318px;
  line-height: 318px;
  margin: auto;
  text-align: center;
  margin-top: 68px;
  box-shadow: 5px 5px 5px grey;
}
