html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Nav {
  background: rgb(117, 94, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* This is the css for Assets */
.container-1 {
  display: flex;
  justify-content: center;
}
.box-1 {
  display: flex;
}
.box-Person {
  flex-wrap: wrap;
  background: rgb(151, 230, 187);
  width: 800px;

  justify-content: center;
}

main {
  height: 500px;
  background: rgb(252, 207, 140);
}
footer {
  background: rgb(199, 94, 248);
}
