@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
/*css for the side*/
.Form-links {
  display: flex;
  flex-direction: column;
  background: rgba(122, 122, 122, 0);
}

.Form-links p {
  margin: 10px 20px;
  border-bottom: 2px solid rgb(179, 179, 179);
  height: 50px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a:-webkit-any-link {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}
.Side {
  position: fixed;
  width: 400px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: right 0.5s;
  top: 0;
  right: -400px;
  bottom: 0;
  z-index: 10;
}

.Side .toggle {
  position: absolute;
  display: flex;
  place-items: center;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);

  left: -50px;
}
.Side.open {
  right: 0;
}
/* .Form-links button {
  display: flex;
  justify-content: center;
  background: red;
} */
#signOut {
  width: 150px;
  height: 35px;
  background: rgba(29, 255, 199, 0.678);
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
#signOut:hover {
  width: 160px;
  height: 40px;
  background: rgb(255, 189, 89);
  border-radius: 2px;
  border: none;
  font-family: "Roboto", sans-serif;
}
.Form-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: rgb(252, 252, 252);
  display: flex;
  justify-content: space-evenly;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.disclaimer {
  width: 300px;
  color: gray;
  font-size: 10px;
}

.head {
  display: flex;
  margin: 5px;
  place-items: center;
  justify-content: space-between;
  background: white;
  right: 0;
  height: 50px;
}

.logoa {
  width: 200px;
  height: 50px;
}
.logoa-2 {
  width: 120px;
  height: 35px;
}
/* css for all the forms */
.container-1 {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  height: 860px;
}

.container-2 {
  background: white;
  width: 1500px;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1%;
}
.container-3 {
  background: rgb(255, 255, 255);
  width: 1400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1%;
  box-shadow: 10px 10px 20px rgba(2, 117, 138, 0.226);
}
.container-will {
  background: rgb(255, 255, 255);
  width: 1400px;
  height: 700px;
}
.button-go {
  width: 85px;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-family: sans-serif;
  font-size: 15px;
  background-color: white;
  transition: 0.3s;
}
.button-go:hover {
  background-color: rgb(255, 132, 110);
  border: none;
  border-radius: 3px;
  width: 90px;
  height: 55px;
}
select {
  width: 300px;
}
/* css for the divs in assets*/
.box-1 {
  display: flex;
  flex-direction: column;
  background: blue;
  width: 1000px;
  height: 300px;
}

.Input-1 {
  background: rgba(255, 176, 222, 0.171);
  margin: 5px;
  display: flex;
  flex-direction: column;
}

/* css for the main div / main page changing */

.change {
  position: relative;
}
main {
  height: 860px;
}
.container-main {
  display: flex;
  justify-content: center;
  height: 860px;
  background: white;
}

/* css for the main page*/
.Slider-0 {
  width: 95vw;
  height: 100vh;
}

.foot {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* .adminGreeting {
  display: flex;
  justify-content: flex-end;
} */
